<div class="aulas">
  <h2>Animais:</h2>
  <ul>
    <li *ngFor="let teste of testes">{{teste}}</li>
    <!-- o animal/teste são criados pelo próprio ngFor, e ele repete na quantidade de items que tem na lista -->
    <!-- e o animals/testes é uma propriedade no component.ts, que é de onde o loop está recebendo os dados para criar a lista -->
    <li *ngFor="let animal of animals">
      Nome: {{ animal.name }} - Tipo: {{ animal.type }}
      <button (click)="showAge(animal)">Show Age</button>
      <!-- ==== Aula 16 - Services Angular =====-->
      <button (click)="removeAnimal(animal)">Excluir</button>
      <!-- =====================================-->
    </li>
  </ul>
  <h3>{{ animalDetails }}</h3>
</div>
